main.app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  font-family: 'tetris';
  text-align: center;
}

@font-face {
  font-family: 'tetris';
  font-weight: normal;
  font-style: normal;
  src: url('./fonts/tetris-webfont.woff2') format('woff2'),
       url('./fonts/tetris-webfont.woff') format('woff');
}
